@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }

    .promo__wrapper {
        align-items: center;
    }

    .carousel {
        .prev {
            left: -50px;
        }

        .next {
            right: -50px;
        }
    }

    .catalog-item {
        width: 286px;

    }

    .footer {
        height: 680px;

        &__map {
            padding-bottom: 68.25%;
        }
    }

}

@media (max-width: 991px) {
    .container {
        max-width: 707px;
    }

    .advantages {
        &__items {
            width: 209px;
        }

        &__text {
            font-size: 13px;
        }
    }

    .title {
        &_left {
            text-align: center;
        }
    }

    .consultation {
        padding: 65px 0 60px 0;

        &__descr {
            text-align: center;

        }

        .feed-form {
            margin: 36px auto;
        }
    }

    .catalog {
        &__content {
            justify-content: center;
        }
    }

    .catalog-item {
        margin: 0px 10px 20px 10px;
    }

    .carousel {
        padding: 62px 0;
    }

    .carousel {
        .tns-item {
            img {
                width: 80%;
            }
        }

        .prev {
            left: -7px;
        }

        .next {
            right: -7px;
        }
    }

    .footer {
        &__map {
            padding-bottom: 80.25%;
        }

        &__info {
            width: 425px;
            height: 246px;
            padding: 41px 50px 60px 50px;
        }
    }

}


@media (max-width: 767px) {
    .container {
        max-width: 549px;
    }

    .header {
        &__phone {
            font-size: 17px;
            margin-bottom: 5px;
        }

        &__official {
            width: 250px;
        }

        &__contacts {
            align-items: center;
        }
    }

    .promo {
        &__header {
            font-size: 40px;
        }

        &__subheader {
            font-size: 22px;
        }
    }

    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__subtitle {
            margin-top: 11px;
        }

        &__items {
            width: 444px;
            margin-bottom: 30px;
        }

        &__text {
            margin-top: 3px;
            font-size: 14px;
        }
    }

    .carousel {
        .tns-item {
            img {
                width: 80%;
            }
        }
    }

    .catalog {
        &__tab {
            width: 165px;
            font-size: 17px;
        }
    }

    .comment {
        &__header {
            margin-top: 40px;
        }

        &__descr {
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 22px;
        }

    }

    .footer {
        &__map {
            padding-bottom: 95.25%;
        }

        &__info {
            width: 385px;
            height: 203px;
            padding: 30px 50px 60px 50px;
        }

        &__addr {
            margin-bottom: 24px;
            font-size: 18px;
            line-height: 18px;
        }

        &__phone {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 26px;
        }
    }

}

@media (max-width: 575px) {

    .header {
        flex-direction: column;

        &__official {
            margin-top: 32px;
        }

        &__logo {
            width: 200px;
        }

        &__contacts {
            margin-top: 20px;
        }
    }

    .promo {
        &__header {
            font-size: 23px;
            text-align: center;
        }

        &__wrapper {
            margin-top: 53px;
        }

        &__subheader {
            font-size: 22px;
            text-align: center;
            margin-top: 3px;
        }

        &__icons {
            width: 314px;
        }

        &__icon {
            font-size: 13px;
            text-align: center;
        }
    }

    .advantages {
        &__items {
            width: 239px;
        }
    }

    .title {
        &_left {
            font-size: 24px;
        }
    }

    .consultation {
        padding: 65px 0 0 0;
        min-height: 620px;

        &__descr {
            font-size: 16px;

        }
    }

    .catalog {
        padding-bottom: 50px;

        &__tabs {
            flex-direction: column;
            align-items: center;
            margin-top: 48px;
        }

        &__tab {
            margin-bottom: 8px;
            transform: none;
        }

        div {
            transform: none;
        }
    }

    .title {
        font-size: 23px;
    }

    .carousel {
        .tns-item {
            img {
                width: 80%;
            }
        }

        .prev {
            display: none;
        }

        .next {
            display: none;
        }
    }

    .comment {
        &__wrapper {
            flex-direction: column;
            margin-top: 20px;
        }

        &__text {
            width: 90%;
            margin: 15px auto;
            text-align: center;
        }

        &__header {
            margin-top: 3px;
        }

        &__descr {
            margin-bottom: 1px;
            font-size: 13px;
        }
    }

    .footer {
        height: 300px;

        &__map {
            padding-bottom: 118.25%;
        }

        &__info {
            width: 296px;
            height: 142px;
            padding: 18px 20px 30px 20px;
        }

        &__addr {
            margin-bottom: 18px;
            font-size: 16px;
        }

        &__phone {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 12px;
        }

        &__social-item {
            width: 35px;
            height: 35px;

            img {
                height: 18px;
            }

        }
    }

    .modal {
       

        width: 310px;
        min-height: 380px;
        padding: 30px 25px 30px 25px;

        &__subtitle {
            font-size: 16px;
        }
        &_mini {
            height: 141px;

        }
        &__descr {
            font-size: 12px;
        }

        &__close {
            top: 5px;
            right: 2px;
            font-size: 35px;
        }
    }


    .feed-form_mt25 {
        margin-top: 25px;
        width: 261px;
    }
    .pageup {
        img {
            display: none;
        }
    }

}